@model Grocers.Models.StockViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Stock";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            if ($('#store_id').val() == '')
            {
                $('#valMessageStoreName').show();
            }
            else if ($('#product_id').val() == '') {
                $('#valMessageProductName').show();
            }
            else if ($('#quantity').val() == '') {
                $('#valMessageQuantityName').show();
            }
            else if ($('#cost_price').val() == '') {
                $('#valMessageCostPriceName').show();
            }
            else
            {
                $('#valMessageStoreName').hide();
                $('#valMessageProductName').hide();
                $('#valMessageQuantityName').hide();
                $('#valMessageCostPriceName').hide();
                CreateStock();
            }
        });
        $('#btnCancel').click(function () {
            location.reload();
        });
        $('#product_id').change(function () {

            if ($(this).val() != '') {
                var product_id = $(this).val();
                SetCostPrice(product_id);
            }
            else {
                $('#cost_price').val('')
            }
        });
    });
    function SetCostPrice(product_id) {
        $.ajax({
            contentType: 'application/json',
            type: "GET",
            url: "../Product/GetProductPriceByProductId?product_id=" + product_id,
            success: function (data) {
                $('#cost_price').val(data)
            },
            error: function (e) {
                var message = $('#message');
                message.show();
                message.text('Error occured, please try again after sometime!');
                message.addClass('alert alert-danger');
            }
        });
    }

    function CreateStock()
    {
        var stock = {
            store_id: $('#store_id').val(),
            product_id: $('#product_id').val(),
            quantity: $('#quantity').val(),
            cost_price: $('#cost_price').val()
        };
        $.ajax({
            contentType: 'application/json',
            type: "POST",
            url: "../Stock/CreateStock",
            data: JSON.stringify(stock),
            success: function (d) {
                location.reload();
            },
            error: function (e) {
                var message = $('#message');
                message.show();
                message.text('Error occured, please try again after sometime!');
                message.addClass('alert alert-danger');
            }
        });
    }
</script>
<br />
<div id="message" style="display: none;">
</div>
<h2>Stock Details</h2>
<div class="row">

    <div class="col-sm-4">
        <div class="form-group">
            <label for="store_id">
                Store</label>
            @if (Model.StoreList != null && Model.StoreList.Count > 0)
            {
                @Html.DropDownList("store_id",Model.StoreList,"Select Store", new { @class = "form-control" })
            }
            else
            {
                 @Html.DropDownList("store_id",new List<SelectListItem>(), new { @class = "form-control" })
            }
            
            <span id="valMessageStoreName" style="color: red; display: none;">Store is required!</span>

        </div>
        <div class="form-group">
            <label for="product_id">
                Product</label>
            @if (Model.ProductList != null && Model.ProductList.Count > 0)
            {
                 @Html.DropDownList("product_id",Model.ProductList,"Select Product", new { @class = "form-control" })
            }
            else
            {
                 @Html.DropDownList("product_id",new List<SelectListItem>(), new { @class = "form-control" })
            }
            <span id="valMessageProductName" style="color: red; display: none;">Product is required!</span>

        </div>
        <div class="form-group">
            <label for="quantity">
                Quantity</label>
            @Html.TextBox("quantity", null, new { @class = "form-control" })
            <span id="valMessageQuantityName" style="color: red; display: none;">Quantity is required!</span>

        </div>
        <div class="form-group">
            <label for="cost_price">
                Cost Price</label>
            @Html.TextBox("cost_price", null, new { @class = "form-control" })
            <span id="valMessageCostPriceName" style="color: red; display: none;">Cost Price is required!</span>

        </div>
        <input id="btnSave" type="button" value="SAVE" class="btn btn-success" />
        <input id="btnCancel" type="button" value="CANCEL" class="btn btn-success" />
    </div>

    <div class="col-sm-4">
    </div>
    
    <div class="col-sm-4">
    </div>
</div>
<br />
<h2>Stock List</h2>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered" style="width:100%;">
            <tr style="background-color:#28a745;color:white;">
                <th style="text-align: center;">Store Name </th>
                <th style="text-align: center;">Product Name </th>
                <th style="text-align: center;">Quantity </th>
                <th style="text-align: center;">Cost Price </th>
                <th style="text-align: center;">Date Created </th>
            </tr>
            @if (Model.StockList != null && Model.StockList.ToList().Count > 0)
            {
                foreach (var d in Model.StockList.ToList())
                {  
                <tr>
                    <td>@d.store_name</td>
                    <td>@d.product_name</td>
                    <td>@d.quantity</td>
                    <td>@d.cost_price</td>
                    <td>@d.date_created</td>
                </tr>  
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No Records</td>
                </tr>
            }
        </table>
    </div>
</div>